<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retail AHP</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('kriteria') }}">Manage Criteria</a></li>
            <li><a href="{{ url_for('bobotkriteria') }}">Criteria Weights</a></li>
            <li><a href="{{ url_for('alternatif') }}">Alternatives</a></li>
            <li><a href="{{ url_for('bobotalternatif') }}">Alternative Scores</a></li>
            <li><a href="{{ url_for('kalkulasi') }}">Kalkulasi</a></li>
        </ul>
    </nav>
</body>
</html>